/* styles.css */
*{
    margin: 0;
    padding: 0;
    
}
body {
     
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: black;
    color: white;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

/* 
/*medicince suugestoor box
name i have given as 

    <section id="medicine-suggester">
        <h2>Enter Symptoms or Prescription</h2>
        <input type="text" id="symptoms" placeholder="E.g., Fever, Cough">
        <button onclick="suggestMedicine()">Suggest Medicine</button>
        <p id="suggested-medicine">
            <div class="description" id="descr"></div>
            <div class="image" id="medi_img"></div>
            <div class="caution" id="medi_caution"></div>
        </p>
    </section>
    */

#medicine-suggester{
  
    margin-top: 1rem;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 96vh;
    width: 90vw;
    margin-left: 4rem;
    /* background-image: url(/assets/images/back.jpg); */
}


#symptoms{
    height: 2rem;
    width: 10rem;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 10px;
    box-shadow: 1px 5px 50px 1px white;
}

#suggest_button{
    height: 3.5rem;
    background-color: rgb(79, 225, 79);
    border-radius: 50px 50px ;
    border-color: aqua;
    box-shadow: 1px 1px 4px 1px greenyellow;
    font-weight: bold;
    
}

#suggested-medicine{
display: flex;
height: 80%;
width: 96%;
}

/* #suggested-medicine.show {
    display: flex; 
} */
#descr{
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
   height: 50%; 
   width: 100%;
   background-color: beige;
}

#right{
  height: 100%;
  width: 30%;
  background-color: black;

}
#medi_caution{
    height: 50%;
    width: 100%;
    padding-top: 4rem;
    background-color: rgb(93, 0, 255);
}
 .medi_img{
    height: 70%;
    width: 100%;
    background-color: rgb(255, 0, 234);
 }
.other_medi{
  height: 30%;
  width: 100%;
  background-color: aliceblue;
}

.left{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    
}

